@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@100..900&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(221, 100%, 96%);
  font-family: "Hanken Grotesk";
  min-height: 100vh;
}

main {
  background-color: hsl(0, 0%, 100%);
  max-width: 660px;
  min-height: 420px;
  border-radius: 20px;
  border: 2px solid red;
}