@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@100..900&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(221, 100%, 96%);
  font-family: "Hanken Grotesk";
  min-height: 100vh;
}

main {
  display: flex;
  background-color: hsl(0, 0%, 100%);
  max-width: 660px;
  min-height: 400px;
  border-radius: 20px;
  margin-inline: 1rem;
}
main .container {
  display: flex;
}
main .container > * {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: clamp(0.5rem, -2.2rem + 9.6vw, 2rem);
  width: 50%;
  height: 100%;
}
main .container .left {
  align-items: center;
  text-align: center;
  border-radius: 20px;
  background: linear-gradient(135deg, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}
main .container .left div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  padding: 2.5rem;
  background: linear-gradient(180deg, hsl(256, 72%, 46%), hsla(241, 72%, 46%, 0));
}
main .container .left div span {
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  font-size: 4rem;
}
main .container .left h1 {
  color: white;
}
main .container .left h2,
main .container .left h3,
main .container .left div {
  font-size: 18px;
  color: hsl(241, 100%, 89%);
}
main .container .right h2 {
  text-align: left;
}
main .container .right ul li {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 6px;
  height: 40px;
  margin-bottom: 1rem;
  font-weight: 700;
}
main .container .right ul li div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
main .container .right ul li .score {
  color: #8191bb;
}
main .container .right ul li .score span {
  color: black;
}
main .container .right ul .reaction {
  background-color: #fff0f0;
  color: hsl(0, 100%, 67%);
}
main .container .right ul .memory {
  background-color: #fff8eb;
  color: hsl(39, 100%, 56%);
}
main .container .right ul .verbal {
  background-color: #e6fff9;
  color: hsl(166, 100%, 37%);
}
main .container .right ul .visual {
  background-color: #e7eafd;
  color: hsl(234, 85%, 45%);
}
main .container .right button {
  font-size: 1rem;
  font-weight: 700;
  border: none;
  border-radius: 50px;
  height: 50px;
  background-color: hsl(224, 30%, 27%);
  color: hsl(0, 0%, 100%);
}
main .container .right button:hover {
  background-image: linear-gradient(#4e21ca, #2e2be9);
  cursor: pointer;
}

@media screen and (max-width: 450px) {
  main {
    margin-top: 1rem;
  }
  .container {
    display: flex;
    flex-direction: column;
  }
  .container .left,
  .container .right {
    width: 100%;
    height: 50%;
    padding: clamp(0.75rem, -1.5rem + 8vw, 2rem);
  }
}