@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 18px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: hsl(217, 54%, 11%);
  font-family: "Outfit";
}

main {
  background-color: hsl(216, 50%, 16%);
  padding: 1rem;
  margin-inline: 1rem;
  max-width: 300px;
  min-height: 500px;
  border-radius: 16px;
}
main img {
  width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
}