@use "./utils/variables" as *;
@use "./utils/reset" as *;

@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap");

body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Kumbh sans", sans-serif;
  min-height: 100vh;
  background-color: $dark-cyan;
  background-image: url("../images/bg-pattern-top.svg"),
    url("../images/bg-pattern-top.svg");
  background-position: -300px -500px, 850px 300px;
  background-repeat: no-repeat, no-repeat;
}

main {
  max-width: 380px;
  width: 100%;
  margin-inline: 1rem;
  border-radius: 15px;
  overflow: hidden;
  background-color: white;
}

.background {
  height: 140px;
  background-image: url("../images/bg-pattern-card.svg");

  img {
    border-radius: 50%;
    border: 5px solid white;
    margin-top: 85px;
    transform: translateY(10px);
  }
}

.profile {
  margin: 75px 0 30px;

  h1 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  p,
  span {
    color: $dark-gray;
  }

  span {
    font-weight: 300;
    margin-left: 5px;
  }
}

.stats {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 35px;
  padding: 20px;

  h1 {
    font-size: 20px;
    margin-bottom: 5px;
  }

  p {
    color: $dark-gray;
    font-size: 12px;
    letter-spacing: 2px;
  }
}
