@use "./utils/variables" as *;
@use "./utils/mixins" as *;
@use "./utils/resets";

body {
  @include flexCenter();

  background-color: $cream;
  font-size: $font-size;
  min-height: 100vh;
}

main {
  margin-inline: 1rem;
}

article {
  display: flex;
  overflow: hidden;
  max-width: 600px;
  min-height: 450px;
  border-radius: 8px;

  .img-desktop {
    width: 50%;
    display: block;
    object-fit: cover;
  }

  .img-mobile {
    object-fit: cover;
    display: none;
  }

  > div {
    display: flex;
    flex: 1;
    container: layout / inline-size;

    > div {
      display: flex;
      flex-direction: column;
      gap: 1.2rem;
      width: 100%;
      padding: 1.4rem; //responsive
      background-color: $white;

      p,
      > span {
        font-family: $ff-montserrat, sans-serif;
        font-weight: map-get($font-weights, "regular");
        font-size: 1rem; //responsive
        color: $dark-gray-blue;
      }

      p {
        line-height: 150%;
      }

      > span {
        letter-spacing: 5px;
        text-transform: uppercase;
      }

      h1 {
        color: $dark-blue;
        font-family: $ff-fraunces;
        font-weight: map-get($font-weights, "bold");
        font-size: 36px; //responsive
        line-height: 1;
        font-optical-sizing: auto;
      }

      .prices {
        display: flex;
        align-items: center;
        gap: 1rem;
        font-family: $ff-fraunces;

        span:first-child {
          color: $dark-cyan;
          font-size: 2rem;
          font-family: $ff-fraunces;
          font-weight: map-get($font-weights, "bold");
        }

        span:last-child {
          color: $dark-gray-blue;
          text-decoration: line-through;
        }
      }

      button {
        @include flexCenter();

        gap: 10px;
        background-color: $dark-cyan;
        color: $white;
        font-weight: map-get($font-weights, "bold");
        border: 0;
        border-radius: 8px;
        height: 3.4rem;

        &:hover {
          background-color: $dark-blue;
        }
      }
    }
  }
}

@container layout (width < 280px) {
  .info {
    padding: $padding-s-s;

    h1 {
      font-size: $h1-0;
    }

    p {
      font-size: $p-0;
    }

    .prices {
      :first-child {
        font-size: $price-0;
      }
    }
  }
}

@media (width < 420px) {
  article {
    flex-direction: column;
    max-width: 400px;
    min-height: 600px;

    > .img-desktop {
      display: none;
    }

    > .img-mobile {
      height: 45%;
      display: block;
    }

    > div {
      justify-content: space-between;
      width: 100%;
      height: 55%;
      gap: 10px;
    }
  }
}
