@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  background-image: url("../images/bg-intro-desktop.png");
  background-color: hsl(0, 100%, 74%);
  color: white;
}

main {
  max-width: 960px;
  margin-inline: 1rem;
}

article {
  display: flex;
  gap: 2rem;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.info {
  text-align: start;
}
.info h1 {
  font-size: 2.2rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.form {
  gap: 1rem;
}
.form > p {
  background-color: hsl(248, 32%, 49%);
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 5px rgba(0, 0, 0, 0.2);
}

form {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border-radius: 10px;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0 5px rgba(0, 0, 0, 0.2);
}
form input {
  padding: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  border-radius: 5px;
  border: 2px solid gainsboro;
}
form input[type=submit] {
  background-color: hsl(154, 59%, 51%);
  text-transform: uppercase;
  letter-spacing: 1px;
  color: hsl(0, 0%, 100%);
  border-radius: 10px;
  border: 0;
}
form input[type=submit]:hover {
  cursor: pointer;
  opacity: 0.6;
}
form span {
  visibility: hidden;
  font-size: 12px;
  font-style: italic;
  text-align: right;
  font-weight: 600;
  margin-bottom: 0.8rem;
  color: hsl(0, 100%, 74%);
}
form p {
  font-size: 10px;
  color: hsl(246, 25%, 77%);
  margin-top: 1rem;
}
form a {
  color: hsl(0, 100%, 74%);
  text-decoration: none;
}

.visibilityVisible {
  visibility: visible;
}

.warning {
  background: white url("../images/icon-error.svg") no-repeat 95%;
}

@media (width < 550px) {
  main {
    margin-top: 4rem;
  }
  article {
    flex-direction: column;
    gap: 1rem;
    max-width: 400px;
  }
  .info {
    text-align: center;
  }
  .info h1 {
    font-size: 1.6rem;
  }
}