*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2 {
  font-weight: 600;
  line-height: 0.9;
  text-wrap: pretty;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.6rem;
  line-height: 0.9;
}

p {
  line-height: 1;
}

img {
  display: block;
  max-width: 100%;
}
