@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@100..900&display=swap");

// Colors
$white: #ffffff;
$dark-blue: #1c232b;
$dark-cyan: #3c8067;
$dark-gray-blue: #6c7289;
$cream: #f2ebe3;

// Font-related variables
$font-size: 14px;
$ff-montserrat: "Montserrat";
$ff-fraunces: "Fraunces";
$font-weights: (
  "regular": 500,
  "bold": 700,
);

// Utopia responsiveness
$h1-0: clamp(1.5rem, 0.2069rem + 5.1724vw, 2.25rem);
$p-0: clamp(0.875rem, 0.6595rem + 0.8621vw, 1rem);
$price-0: clamp(1.625rem, 0.9784rem + 2.5862vw, 2rem);

$padding-s-s: clamp(1rem, -1.2845rem + 15.5172cqi, 1.625rem);
