@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@100..900&display=swap");

// Colors
$white: #ffffff;
$dark-blue: #1c232b;
$dark-cyan: #3c8067;
$dark-gray-blue: #6c7289;
$cream: #f2ebe3;

// Font-related variables
$font-size: 14px;
$ff-montserrat: "Montserrat";
$ff-fraunces: "Franunces";
$font-weights: (
  "regular": 500,
  "bold": 700,
);
