@use "./utils/reset" as *;
@use "./utils/variables" as *;

body {
  min-height: 100vh;
  font-family: "DM Sans", sans-serif;
  display: flex;
  justify-content: center;
  margin-block-start: 2rem;
}

main {
  max-width: 1080px;
  width: calc(100% - 2rem);
  margin-inline: 1rem;
}

section {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  box-shadow: 0 0 5px 5px $yellow-100;
  border-radius: 1rem;
}

.card {
  border-radius: 12px;

  img {
    width: 100%;
  }
  p {
    font-size: $font-para;
  }
}
