@use "sass:meta";
@use "./utils/variables" as *;

@layer reset {
  @include meta.load-css("./utils/_reset.scss");
}

@layer base {
  body {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    margin-block-start: 2rem;
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
  }

  main {
    max-width: 1080px;
    width: calc(100% - 2rem);
    margin-inline: 2rem;
  }
}

@layer layout {
  section {
    display: grid;
    gap: 1rem;
    border-radius: 1rem;
    grid-template-areas:
      "one"
      "two"
      "three"
      "four"
      "five"
      "six"
      "seven"
      "eight";

    @media (width > 600px) {
      grid-template-areas:
        "one one"
        "six four"
        "seven four"
        "three eight"
        "five two";
    }

    @media (width > 960px) {
      grid-template-areas:
        "seven one one four"
        "seven two three four"
        "eight two three four"
        "eight six five five";
    }
  }

  .card {
    background-color: $white;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 1rem;
    overflow: hidden;

    border-radius: 12px;
    padding: 1rem;
  }

  .one {
    grid-area: one;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color: $purple-500;
    color: $white;
    text-align: center;

    img {
      max-width: 70%;
    }

    span {
      color: $yellow-500;
    }

    @media (width > 960px) {
      img {
        max-width: 40%;
      }
    }
  }

  .two {
    grid-area: two;
    justify-content: center;

    @media (width > 960px) {
      justify-content: space-evenly;
      img {
        max-width: 150%;
      }
    }
  }

  .three {
    grid-area: three;
    background-color: $yellow-500;

    img {
      max-width: 60%;
      margin-bottom: -30px;
    }

    @media (width > 960px) {
      justify-content: center;

      img {
        max-width: 100%;
        margin-bottom: -100px;
      }
    }
  }

  .four {
    grid-area: four;
    justify-content: center;
    align-items: center;
    background-color: $purple-100;
    text-align: center;

    @media (width > 960px) {
      align-items: start;
      text-align: start;

      img {
        max-width: 170%;
      }
    }
  }

  .five {
    grid-area: five;
    align-items: center;
    background-color: $purple-500;
    color: $white;
    text-align: center;
    padding: 1rem;

    img {
      max-width: 90%;
    }

    @media (width > 960px) {
      flex-direction: row;
      text-align: start;
      gap: 0.4rem;
      padding: 1rem;

      h2 {
        font-size: 2.2rem;
      }

      img {
        max-width: 50%;
      }
    }
  }

  .six {
    grid-area: six;

    img {
      max-width: 65%;
    }

    @media (width > 960px) {
      gap: 2rem;

      img {
        max-width: 70%;
      }
    }
  }

  .seven {
    grid-area: seven;
    background-color: $yellow-100;
    padding: 2rem;

    span {
      color: $purple-500;
    }

    img {
      max-width: 65%;
    }

    @media (width > 960px) {
      justify-content: center;
      padding: 1rem;

      img {
        max-width: 80%;
        margin-inline: auto;
      }
    }
  }

  .eight {
    grid-area: eight;
    background-color: $yellow-500;

    img {
      max-width: 65%;
    }

    @media (width > 960px) {
      justify-content: space-between;

      img {
        max-width: 90%;
        margin-inline: auto;
      }
    }
  }
}
